.root {
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  --tracing-column-width: 6rem;
}

.historyContainer {
  min-height: 0;
  flex-grow: 1;
  display: flex;
  gap: 4px;
}

.inputWordsContainer {
  display: flex;
  flex-direction: column;
}

.inputWordsEditor {
  display: block;
  width: 10rem;
  resize: none;
  white-space: pre;
  word-wrap: normal;
  min-height: 0;
  flex-grow: 1;
}

.tableContainer {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 4px;
  padding-right: 4px;
}

.stickyColumnHeader {
  position: sticky;
  left: 0;
  z-index: 1;
}

.stickySecondColumnHeader {
  position: sticky;
  left: var(--tracing-column-width);
  z-index: 1;
}

.stickyHeader.stickyColumnHeader {
  z-index: 2;
}

.stickyHeader.stickySecondColumnHeader {
  z-index: 2;
}

.traceHeader {
  min-width: var(--tracing-column-width);
  display: flex;
  gap: 4px;
}

.cell {
  text-wrap: nowrap;
  padding-left: 4px;
  padding-right: 4px;
}

.errorPopover {
  background-color: var(--card-background);
  border-style: solid;
  border-color: var(--foreground-muted);
  border-radius: 4px;
  padding: 4px;
  max-width: var(--radix-popover-content-available-width);
}
