.root {
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.previewPanel {
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.previewContainer {
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.exportPreview {
  width: 100%;
  min-height: 0;
  flex-grow: 1;
}
