NODE_ENV=development

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_ADMIN_EMAIL=

GOOGLE_ID=
GOOGLE_SECRET=

NEO4J_URL=bolt://0.0.0.0:7687
NEO4J_USERNAME=
NEO4J_PASSWORD=
