:root {
  --background: hsl(0, 0%, 90%);
  --foreground: hsl(0, 0%, 0%);
  --foreground-stable: hsl(0, 0%, 100%);

  --primary-hue: 246;
  --primary-sat: 25%;
  --primary-lit: 50%;
  --primary: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lit));
  --primary-dark: hsl(
    var(--primary-hue),
    var(--primary-sat),
    calc(var(--primary-lit) - 10%)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 0%);
    --foreground: hsl(0, 0%, 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#root,
#__next {
  isolation: isolate;
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
