.toc {
  position: fixed;
  top: 56px;
  width: 20%;
  padding: 8px;
  background-color: var(--primary);
}

.toc-item {
  list-style-type: disc;
}

.md-below-header ol,
.md-below-header ul {
  padding-left: 2rem;
}

.md-main {
  width: 70%;
  max-width: 900px;
  margin-left: 25%;
  margin-right: 5%;
}

.md-main code {
  background-color: var(--card-background);
}

.md-main p a,
.md-main li a {
  text-decoration: underline;
}
