.toc {
  position: fixed;
  top: 56px;
  width: 20%;
  padding: 8px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary);
}

.toc-item {
  list-style-type: disc;
}

.md-below-header ol,
.md-below-header ul {
  padding-left: 1rem;
}

.md-main {
  width: 70%;
  max-width: 900px;
  margin-left: 25%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

/* So that following a section link doesn't hide the section
header behind the page banner, see
https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.md-main [id]::before {
  content: "";
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
}

.md-main code {
  background-color: var(--card-background);
}

.md-main p a,
.md-main li a,
.md-main td a {
  text-decoration: underline;
}
