.NavigationMenuRoot {
  position: sticky;
  top: 0;
}

.NavigationMenuList {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: var(--primary);
  color: var(--foreground-always-light);
  padding: 4px;
  list-style: none;
}

.leftGroup {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
}

.centreGroup {
  display: flex;
  flex-grow: 0;
  justify-content: center;
}

.rightGroup {
  display: flex;
  flex: 1;
  justify-content: right;
}

.NavigationMenuLink {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  font-size: 1.3rem;
  text-wrap: nowrap;
}

.NavigationMenuLink:hover,
.NavigationMenuLink[data-active] {
  background-color: var(--primary-dark);
}
